.caraousel {
  margin-bottom: 2rem;

  .image-carousel {
    display: flex;
    position: relative;
  
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  
    button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #1eaddc;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s;
  
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  
      @media (max-width: 768px) {
        order: 3;
        width: 50%;
        margin-bottom: 0.2rem;
        margin-top: 0.2rem;
      }
    }
  
    button:hover {
      background-color: #E9F0FE;
      color: #000;
    }
  
    img {
      @media (max-width: 768px) {
        width: 100%;
        order: 1;
      }
    }
  
    .tooltip {
      border-bottom: 1px dotted black;
      cursor: pointer;
      position: absolute;
      bottom: -3rem;
      left: 50%;
      transform: translate(-50%, -50%);
  
      @media (max-width: 768px) {
        order: 2;
      }
    }
    
    .tooltip-text {
      width: 100%;
      visibility: hidden;
      background-color: #E9F0FE;
      color: #000;
      text-align: center;
      border-radius: 6px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip:hover .tooltip-text {
      visibility: visible; /* Tampilkan teks tooltip saat elemen dihover */
      opacity: 1; /* Ubah opacity menjadi 1 saat dihover */
    }
  }
}
