.star-rating {
  font-size: 15px;
  margin-left: auto;
  margin-top: 0.5rem;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.star {
  color: #ddd;
  cursor: pointer;
}

.filled {
  color: #FFD700;
}

.rating-number {
  font-size: 14px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
